<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Doctor</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>Add Doctor</h2>
                </div>
                <div class="card-body">
                    <form th:action="|/super_admin/editDoctor/${editedDoctor.getId()}|" method="post">
                        <div class="form-group">
                            <input  th:value="${editedDoctor.getUser().firstName}" type="text" class="form-control" name="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input th:value="${editedDoctor.getUser().getLastName()}" type="text" class="form-control"  name="lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input th:value="${editedDoctor.getUser().getPhone()}" type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                        </div>
                        <select name="specialityId" id="specialitySelect" class="form-control">
                            <option th:each="speciality : ${specialities}"
                                    th:value="${speciality.getId}"
                                    th:text="${speciality.getName()}"
                                    th:selected="${speciality.getId() == editedDoctor.getSpeciality().getId()}"></option>
                        </select>
                        <select name="roomId" id="roomSelect" class="form-control">
                            <option th:each="room : ${rooms}"
                                    th:value="${room.getId}"
                                    th:text="${room.getName()}"
                                    th:selected="${room.getId() == editedDoctor.getRoomNumber().getId()}"></option>
                        </select>


                        <a href="/super_admin/doctor" class="btn btn-primary  mt-2">Back</a>
                        <button  class="btn btn-primary  mt-2">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
