<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Info</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a href="/admin" class="btn btn-dark">Back</a>
    </div>
</nav>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="procedure:${procedures}">
        <td th:text="${procedure.getTitle()}"></td>
        <td th:text="${procedure.getDescription()}"></td>
        <td th:text="${procedure.getPrice()}"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2" class="text-end"><strong>Total Sum:</strong></td>
        <td th:text="${totalSum}"></td>
    </tr>
    </tfoot>
</table>
</body>
</html>
