<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-3 border-right p-2">
        <ul class="list-group">
            <a href="/super_admin/speciality" class="list-group-item">Speciality</a>
            <a href="/super_admin/doctor" class="list-group-item">Doctors</a>
            <a href="/super_admin/patient" class="list-group-item">Patient</a>
        </ul>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-4 offset-8 p-2 d-flex">
                <a href="/admin" class="btn btn-dark">Admin section</a>
                <a href="/logout" class="btn btn-dark mx-2">Logout</a>
            </div>
        </div>
        <div class="text-center text-dark">
            <h1 size="100">Welcome our program</h1>
        </div>
    </div>
</div>
</body>
</html>